:root {
  --main-color: #5d04d9;
  --bg-color: #f1f1f1;
  --action-color: #03318c;
  --border-color: #0d0d0d;
  --main-font: "Press Start 2P", system-ui;
  --secondary-font: "IBM Plex Mono", monospace;
}

/* RESET STYLES */
html {
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
  background-color: var(--bg-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SITE STYLES */

header,
footer {
  width: 100%;
  min-height: 5rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}

.title {
  font-size: 2rem;
  color: var(--bg-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  height: 80vh;
  padding: 6rem 3% 6rem;
}

.products {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.products__title {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
}

.no__product-title {
  font-size: 1rem;
  width: 30ch;
  text-align: center;
  line-height: 2;
}

.products__container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  padding-block: 1rem;
}

.product__card {
  width: 12rem;
  height: 15.5rem;
  background-color: var(--action-color);
  border: solid 5px var(--border-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;
}

.product__card figcaption {
  width: 100%;
  color: var(--bg-color);
  margin-top: 0.5rem;
}

.product__card-img {
  width: 100%;
  height: auto;
  border: solid 5px var(--border-color);
  border-radius: 10px;
}

.product__card-title {
  font-family: var(--secondary-font);
  font-size: 1rem;
}

.product__card-value {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.product__card-value-delete {
  width: 1.4rem;
  cursor: pointer;
}

.add__products {
  width: 400px;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.products__form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.form-imput {
  width: 100%;
  margin-block: 1rem;
  padding-inline: 1rem;
  height: 3rem;
  outline: none;
  border: solid 5px var(--action-color);
  border-radius: 50px;
}

.form-imput::placeholder {
  font-family: var(--secondary-font);
  color: var(--action-color);
  font-weight: 600;
}

.buttons__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form-btn {
  padding: 0.6rem 2.7rem;
  outline: none;
  background-color: var(--action-color);
  border: solid 5px var(--action-color);
  color: var(--bg-color);
  font-family: var(--secondary-font);
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
}

.form-btn:nth-child(2) {
  background-color: transparent;
  border: solid 5px var(--action-color);
  color: var(--action-color);
  padding: 0.6rem 2.5rem;
}

.copyright {
  color: var(--bg-color);
  margin-top: 1rem;
}

footer img {
  width: 8rem;
  margin-top: 1rem;
}

@media (max-width: 1220px) {
  main {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .no__product-title {
    width: 100%;
  }

  footer {
    height: 9.25rem;
  }
}
